<h2>Settings</h2>

{{link-to 'Profile' 'settings.profile'}}
{{link-to 'Account' 'settings.account'}}
{{link-to 'Addons' 'settings.addons'}}
{{link-to 'Notifications' 'settings.notifications'}}

{{outlet}}
